.content {
  margin-top: 2.5rem;
  width: 30%;
}
.inner {
  margin-bottom: 2rem;
}
.content ul {
  padding: 1rem 0;
}
.content ul li {
  list-style-type: none;
  text-decoration: none;
}
@media (max-width: 1200px) {
  .content {
    width: 80%;
  }
}
