.content {
  margin: 6rem 0;
  width: 50%;
}
.content header h1 {
  text-align: center;
  text-transform: uppercase;
  font-size: 34px;
  color: black;
  padding: 1rem;
}
.btn button{
  width: 100%;
}
@media (max-width: 768px) {
  .content {
    width: 80%;
  }
}
