.content {
  height: 100vh;
}
.content header h1 {
  text-align: center;
  text-transform: uppercase;
  font-size: 34px;
  color: black;
  padding: 1rem;
}
.inner{
  width: 50%;
}
.btn button{
  width: 100%;
}
@media (max-width: 1250px) {
  .inner {
    width: 60%;
  }
}
@media (max-width: 768px) {
  .inner {
    width: 80%;
  }
}
