@import url('https://fonts.googleapis.com/css2?family=Zen+Kurenaido&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,300&display=swap');
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-family: 'Zen Kurenaido', sans-serif;
  font-size: large;
}
.shiftTop {
  margin-top: 5rem;
}
body {
  background: url('./assets/background.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}
li {
  list-style-type: none;
}
a {
  text-decoration: none;
  font-family: 'Roboto', sans-serif;
}
.margin {
  margin-top: 7rem;
}
.avatar {
  border: 2px solid rgb(252, 114, 114);
}
.fallback {
  font-size: 4rem;
}
.link {
  font-weight: bolder;
  cursor: pointer;
}
.center {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

